@import "_variables.scss";
@import "_variable01.scss";
@import "_base.scss";
.bg-indigo{
    background-color: $indigo;
}
.bg-pink{
    background-color: $pink;
}
.bg-indigo-100{
    background-color: $indigo-100;
}