.bg-color_red {
    background-color: red;
}

.bg-color_blue {
    background-color: blue;
}

.font-size {
    font-size: 18px;
}

.font-weight {
    font-weight: bolder;
}

.font-family {
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

.font-color_aqua {
    flood-color: aqua;
}

.bg-color_brown {
    background-color: brown;
}

.font-color_beige {
    flood-color: beige;
}

.font-style {
    font-style: normal;
}

.line-heigth {
    line-height: 5em;
}

.font-family_Courier {
    font-family: 'Courier New', Courier, monospace;
}

.font-color_bisque {
    flood-color: bisque;
}

@media (max-width: 575.98px) {
    .font-size {
        font-size: 30px;
    }

    .font-weight {
        font-weight: lighter;
    }

    .font-color_aqua {
        flood-color: cadetblue;
    }

    .bg-color_brown {
        background-color: chartreuse;
    }

    .font-color_beige {
        flood-color: crimson;
    }

    .font-style {
        font-style: oblique;
    }

    .line-heigth {
        line-height: 10em;
    }

    .font-color_bisque {
        flood-color: cyan;
    }
}

@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {}


@media (max-width: 1199.98px) {}


@media (max-width: 1399.98px) {}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: purple;
    --bs-btn-border-color: purple;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #da51f8;
    --bs-btn-hover-border-color: #b42ec1;
    --bs-btn-focus-shadow-rgb: 208, 88, 242;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b42ec1;
    --bs-btn-active-border-color: #6c088c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b42ec1;
    --bs-btn-disabled-border-color: #6c088c;
}

.btn-green {
    --bs-btn-color: green;
    --bs-btn-border-color: green;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #28e78e;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #085833;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #085833;
    --bs-gradient: none;
}

.btn:hover:after {
    height: 450%;
}

.btn-before-after,
.btn:focus {
    position: relative;
    min-width: 200px;
    background: none;
    border: none;
    color: #58afd1;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: inset 0 0 0 4px #58afd1;
    transition: color 0.25s 0.0833333333s;
    padding: 10px 20px;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border: 0 solid transparent;
    box-sizing: border-box;
}

.btn:before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.btn:after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.btn:hover {
    color: #ffe593;
}

.btn:hover:before,
.btn:hover:after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.btn:hover:before {
    transition-delay: 0s, 0s, 0.25s;
}

.btn:hover:after {
    transition-delay: 0s, 0.25s, 0s;
}

#video-background,
.video-background iframe {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -100;
}

.video-caption {
    margin-top: 20%;
}

.video-caption.text-center h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.margintop-30 {
    margin-top: 30px;
}

.margintop-30 .btn.btn-warning {
    color: #fff;
}

.jumbotron {
    color: #fff;
    background-image: url("images/pic51.jpg");
    background-attachment: fixed;
    margin-top: 0px;
    margin-bottom: 10px;
    min-height: 1365px;
    min-width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}

body {
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 55px;
}

#production {
    padding-top: 40px;
}

#sportlogo {
    padding-top: 40px;
}

#guess {
    padding-top: 40px;
}

#buyrules {
    padding-top: 40px;
    padding-bottom: 50px;
}

.bgcolor {
    color: #fff;
    background-color: #e47303;
}

.box {
    background-repeat: 6px;
    background-color: #e5e5e5;
}

#footer {
    padding-top: 10px;
    background-color: #2c3e50;
    color: #fff;
}

.navbar-nav .nav-item img {
    margin-top: -15px;
    margin-right: 10px;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
    margin-right: 80%;
}

.dropdown .dropdown-menu {
    display: none;
}

@media screen and (min-width:993px) {

    /*控制視窗解析度 */
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}
